<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="contestStatusFragment">
    <div class="card text-center" id="contestSummary" style="margin-bottom: 1em">
        <div class="card-body">
            <h6 class="card-title"><a th:text="${contest.name}" th:href="@{/contests/} + ${contest.id}"></a></h6>
            <hr />
            <div th:if="${contestStatus.equals('NOT_STARTED')}">
                <p th:text="${contest.startDate}" class="contestStartDate" hidden></p>
                <p th:text="${contest.durationInMinutes}" class="contestDuration" hidden></p>
                <p class="contestStartDateMoment"></p>
                <hr />
                Before
            </div>
            <div th:if="${contestStatus.equals('FINISHED')}">
                <p>Finished</p>
            </div>
            <div th:if="${contestStatus.equals('RUNNING')}">
                <p th:text="${contest.startDate}" class="contestStartDate" hidden></p>
                <p th:text="${contest.durationInMinutes}" class="contestDuration" hidden></p>
                <p class="contestStartDateMoment"></p>
                <hr />
                Running
            </div>
        </div>
    </div>
</div>


<div th:fragment="submitSection">
    <div th:if="${isSolved}" class="alert alert-success">
        Solved
    </div>
    <div th:if="${contestStatus.equals('RUNNING') and !isSolved}">
        <div th:if="${triesCount < 2}">
            <div th:replace="fragments/problemDownloadAndSubmitForm :: downloadSection"></div>
        </div>
        <div th:if="${triesCount >= 2}">
            <div class="alert alert-primary">You finished your tries to submit this problem</div>
        </div>
    </div>
    <div th:if="${contestStatus.equals('FINISHED')}">
        <div th:replace="fragments/problemDownloadAndSubmitForm :: downloadSection"></div>
    </div>
    <div th:if="${null != submissionStatus}" th:text="${submissionStatus ? 'Accepted' : 'Wrong Answer'}" class="alert" th:classappend="'alert-' + ${submissionStatus ? 'success' : 'danger'}" role="alert">
        This is a primary alert—check it out!
    </div>
</div>

</body>
</html>