<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{../css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/profileSummaryCard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/secondaryNav.css}">
    <title>CodeBattle | Contest Creator</title>
</head>

<body>

<header th:replace="fragments/header :: header('contests')">...</header>

<div class="container" th:with="contestStatus = ${contest.getContestStatus().toString()}">

    <div th:replace="fragments/profileSecondaryNav :: contestSecondaryNav('problems')"></div>

    <div class="row">
        <div class="col-8">
            <div th:replace="fragments/contestProblems :: contestProblems(${contest.id}, ${contest.problems})"></div>
        </div>
        <div class="col-4">
            <div th:replace="fragments/contestFragments :: contestStatusFragment">

            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer">...</footer>
</div>

<script th:src="@{../js/jquery-3.4.1.min.js}"></script>
<script th:src="@{../js/popper.min.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/moment-with-locales.min.js}"></script>

<script>
function format(num) {
    var s = String(num);
    if(s.length < 2) s = "0" + s;
    return s;
}
        function updateTime() {
            var contestStartDate = $(".contestStartDate").html();
            var contestDurationInSeconds = $(".contestDuration").html() * 60;
            var now = moment();
            if (contestStartDate !== undefined) {
                var contestMoment = moment(contestStartDate.replace("T", " "));
                var contestTimeInSeconds = contestMoment.seconds() + contestMoment.minutes() * 60 + contestMoment.hours() * 60 * 60;
                var contestEndTimeInSeconds = contestTimeInSeconds + contestDurationInSeconds;
                var nowTimeInSeconds = now.seconds() + now.minutes() * 60 + now.hours() * 60 * 60;
                if (nowTimeInSeconds <= contestEndTimeInSeconds) { // before or running
                    var remainingTimeInSeconds
                    if (nowTimeInSeconds >= contestTimeInSeconds) { // Contest is running
                        remainingTimeInSeconds = contestEndTimeInSeconds - nowTimeInSeconds;
                    } else if (nowTimeInSeconds < contestTimeInSeconds) { // not started
                        remainingTimeInSeconds = contestTimeInSeconds - nowTimeInSeconds;
                    }
                    var hh = Math.floor(remainingTimeInSeconds / 3600);
                    remainingTimeInSeconds %= 3600;
                    var mm = Math.floor(remainingTimeInSeconds / 60);
                    var ss = remainingTimeInSeconds % 60;
                    $(".contestStartDateMoment").html(format(hh) + ":" + format(mm) + ":" + format(ss));
                }
            }
        }

        updateTime();

        setInterval(function() {
            updateTime();
        }, 1000);
    </script>
</body>

</html>