<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/profileSummaryCard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/secondaryNav.css}">
    <title>CodeBattle | Contest Creator</title>
</head>

<body>

<header th:replace="fragments/header :: header('contests')">...</header>

<div class="container">

    <div class="row">
        <div class="col-9">
            <h5>Problems</h5>
            <div th:replace="fragments/contestProblems :: contestProblems(${contest.id}, ${contest.problems})"></div>
            <form class="row" th:action="@{/contests/} + ${contest.id} + '/addProblem'" th:method="POST">
                <input type="hidden" name="username" th:value="${#authentication.getPrincipal().getUsername()}">
                <div class="form-group col-5" style="padding-right: 8px">
                    <input placeholder="Problem ID" type="text" class="form-control" name="problemId" required>
                </div>
                <div class="form-group col-2" style="padding-left: 0px">
                    <button type="submit" class="btn-round btn btn-success">Add</button>
                </div>
            </form>
            <ul class="text-danger" th:if="${addProblemError}" >
                <li th:text="${addProblemError}"></li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Edit Contest</h5>
            <form th:action="@{/contests/update/} + ${contest.id}" th:object="${editContestForm}" th:method="POST">
                <input type="hidden" name="username" th:value="${#authentication.getPrincipal().getUsername()}">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Contest name" th:field="*{name}" th:value="${contest.name}">
                </div>
                <ul class="text-danger" th:if="${#fields.hasErrors('name')}" >
                    <li  th:each="err: ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
                <div class="form-group">
                    <label>Contest duration in minutes</label>
                    <input type="number" class="form-control" min="0" step="1" placeholder="Duration in minutes" th:field="*{durationInMinutes}" th:value="${contest.durationInMinutes}"/>
                </div>
                <ul class="text-danger" th:if="${#fields.hasErrors('durationInMinutes')}" >
                    <li  th:each="err: ${#fields.errors('durationInMinutes')}" th:text="${err}"></li>
                </ul>
                <div class="form-group">
                    <label>Start date/time</label>
                    <input type="datetime-local" class="form-control" th:field="*{startDate}" th:value="${contest.startDate}"/>
                </div>
                <ul class="text-danger" th:if="${#fields.hasErrors('startDate')}" >
                    <li  th:each="err: ${#fields.errors('startDate')}" th:text="${err}"></li>
                </ul>
                <div class="form-group">
                    <label>Privacy</label>
                    <select class="form-control" th:field="*{isPrivate}">
                        <option value="0" th:selected="${contest.isPrivate} == 0 ? 'true' : 'false'">Public</option>
                        <option value="1" th:selected="${contest.isPrivate} == 1 ? 'true' : 'false'">Private</option>
                    </select>
                </div>
                <ul class="text-danger" th:if="${#fields.hasErrors('isPrivate')}" >
                    <li  th:each="err: ${#fields.errors('isPrivate')}" th:text="${err}"></li>
                </ul>
                <div class="text-right form-group">
                    <button type="submit" class="btn-round btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>


    <footer th:replace="fragments/footer :: footer">...</footer>
</div>

<script th:src="@{../../js/jquery-3.4.1.min.js}"></script>
<script th:src="@{../../js/popper.min.js}"></script>
<script th:src="@{../../js/bootstrap.min.js}"></script>

</body>

</html>