<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/profileSummaryCard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/secondaryNav.css}">
    <title>CodeBattle | Edit Problem</title>
</head>

<body>

<header th:replace="fragments/header :: header('problems')">...</header>

<div class="container">

    <h5>Problem Creator</h5>
    <form th:action="@{/problems/edit/} + ${problem.id}" th:object="${problemEditForm}" enctype="multipart/form-data" th:method="POST">
        <input type="hidden" name="username" th:value="${#authentication.getPrincipal().getUsername()}">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Problem name" th:value="${problem.name}" th:field="*{name}">
        </div>
        <ul class="text-danger" th:if="${#fields.hasErrors('name')}" >
            <li  th:each="err: ${#fields.errors('name')}" th:text="${err}"></li>
        </ul>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" placeholder="Description" rows="10" th:value="${problem.description}" th:field="*{description}"></textarea>
        </div>
        <ul class="text-danger" th:if="${#fields.hasErrors('description')}" >
            <li  th:each="err: ${#fields.errors('description')}" th:text="${err}"></li>
        </ul>
        <div class="form-group">
            <label>Input</label>
            <textarea class="form-control" placeholder="Input" rows="5" th:value="${problem.inputDescription}" th:field="*{inputDescription}"></textarea>
        </div>
        <ul class="text-danger" th:if="${#fields.hasErrors('inputDescription')}" >
            <li  th:each="err: ${#fields.errors('inputDescription')}" th:text="${err}"></li>
        </ul>
        <div class="form-group">
            <label>Output</label>
            <textarea class="form-control" placeholder="Output" rows="5" th:value="${problem.outputDescription}" th:field="*{outputDescription}"></textarea>
        </div>
        <ul class="text-danger" th:if="${#fields.hasErrors('outputDescription')}" >
            <li  th:each="err: ${#fields.errors('outputDescription')}" th:text="${err}"></li>
        </ul>
        <div class="form-group">
            <label>Notes</label>
            <textarea class="form-control" placeholder="Notes" rows="5" th:value="${problem.notes}" th:field="*{notes}"></textarea>
        </div>
        <ul class="text-danger" th:if="${#fields.hasErrors('notes')}" >
            <li  th:each="err: ${#fields.errors('notes')}" th:text="${err}"></li>
        </ul>
        <div class="form-group">
            <label>Tutorial</label>
            <textarea class="form-control" placeholder="Tutorial" th:value="${problem.tutorial}" th:field="*{tutorial}"></textarea>
        </div>
        <ul class="text-danger" th:if="${#fields.hasErrors('tutorial')}" >
            <li  th:each="err: ${#fields.errors('tutorial')}" th:text="${err}"></li>
        </ul>
        <div class="form-group">
            <label>Change Input/Output files</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="ioFiles" multiple>
                <label class="custom-file-label" for="customFile">Input/Output Files</label>
            </div>
            <ul class="text-danger" th:if="${ioFilesErrors}" >
                <li  th:each="err: ${ioFilesErrors}" th:text="${err}"></li>
            </ul>
            <ul>
                <li><small class="form-text text-muted">If you don't select any files the old tests will remain</small></li>
                <li><small class="form-text text-muted">Input files must end with '.in'</small></li>
                <li><small class="form-text text-muted">Output files must end with '.out'</small></li>
                <li> <small class="form-text text-muted">Each input must has the same name of it's output file</small></li>
                <li><small class="form-text text-muted">Sample files must begin with 'sample' and follow all the conditions above</small></li>
                <li><small class="form-text text-muted">Only one sample and one main test files required</small></li>
            </ul>
        </div>
        <div class="form-group">
            <label>Checker</label>
            <select class="form-control" th:field="*{checkerType}">
                <option th:each="checkerOpt : ${T(com.aymansalah.codebattle.util.judge.checkers.CheckerType).values()}"
                        th:value="${checkerOpt}"
                        th:text="${checkerOpt.getLabel()}"
                        th:selected="${problem.checkerType == checkerOpt}">
                </option>
            </select>
        </div>

        <div class="text-right form-group">
            <button type="submit" class="btn-round btn btn-primary">Save</button>
        </div>
    </form>


    <footer th:replace="fragments/footer :: footer">...</footer>
</div>

<script th:src="@{../../js/jquery-3.4.1.min.js}"></script>
<script th:src="@{../../js/popper.min.js}"></script>
<script th:src="@{../../js/bootstrap.min.js}"></script>
<script>
$(".custom-file-input").on("change", function() {
  const fi = document.getElementById('customFile');
  if(fi.files.length < 4) {
    $('#customFile').val('');
    alert("Please select at least 4 files");
  } else {
    $(this).siblings(".custom-file-label").addClass("selected").html(fi.files.length + " files selected");
  }
});
</script>
</body>

</html>